<main class="min-h-screen bg-white flex items-center justify-center">
  <section class="bg-gray-100 p-2 rounded-lg shadow-md">
    @if (store.isBusy()) {
    <img
      src="https://raw.githubusercontent.com/n3r4zzurr0/svg-spinners/refs/heads/main/svg-css/270-ring-with-bg.svg"
      alt="Loading Spinner"
    />
    }

    <h1 class="text-2xl text-center px-20 py-5">It Works!</h1>
    <a routerLink="/next" class="block w-full text-right">
      Link to Next Page
    </a>

    <router-outlet></router-outlet>
  </section>
</main>
